    <div class="card">
    <img class="card__img" src="{{ recipe.cover.url }}" alt="">
    <a href="{% url 'recipes' recipe.id %}">
        <h2 class="card__title">{{ recipe.title|capfirst }}</h2>
    </a>
    <div class="card__author">
        {% if recipe.author %}
            <span class="card__author-items">
                <i class="fas fa-user"></i>                
                {% if recipe.author.first_name %}
                    {{ recipe.author.first_name }}
                {% else %}
                    {{ recipe.author.username }}
                {% endif %}
            </span>
        {% else %}
            Desconhecido
        {% endif %}
        <span class="card__author-items">
            <i class="fas fa-calendar"></i>
            {{ recipe.create_at|date:"d/m/Y" }}
        </span>
        {% if recipe.category %}
        <span class="card__author-items">
            <a href="{% url 'category' recipe.category.id %}">
                <i class="fas fa-layer-group"></i>
                {{ recipe.category }}
            </a>
        </span>
        {% endif %}
    </div>

    <p class="card__text">
        {{ recipe.description }}    
    </p>
    <div class="card__meta">
        <div class="card__meta-preparation">
            <h3>
                <i class="fas fa-stopwatch"></i>
                Prepado
            </h3>
            <span>
                {{ recipe.preparation_time }}

                {{ recipe.preparation_time_unit }}
            </span>
        </div>
        <div class="card__meta-servings">
            <h3>
                <i class="fas fa-pizza-slice"></i>
                Porções
            </h3>
            <span>
                {{ recipe.servings }}

                {{ recipe.servings_unit }}
            </span>
        </div>
    </div>

    {% if is_details is not True %}
        <div class="card__more">
            <a href="{% url 'recipes' recipe.id %}">
                ver mais...
            </a>
        </div>
    {% endif %}


    {% if is_details %}
        <div class="card__steps">
            {{ recipe.preparation_steps|linebreaksbr }}
        </div>
    {% endif %}
    
</div>